<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<script type="text/javascript" src="public/js/site.js"></script>
</head>
<body>
	<!--- This is an animated sidebar  -->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="/home">Home</a>
		<a href="#">Bookmark</a>
		<a href="#">To Contents</a>
		<a href="login">Sign out</a>

		<span onclick="openNav()">open</span>
	</div>

	<div id="main">
		<div class="bookSpace">
			<!-- Create path based on book pased to this EJS file -->
			<% if(user.book!= null){ %>
			<% book = user.book; %>
			<% } else {%>
			<% book = 'Frankenstein.html' %>
			<% console.log('NO USER -> defaulted to frankenstein for testing'); %>
			<% } %>
			<% var path = '../content/' + book %>
			<%- include(path) %>

			<script type="text/javascript">
				// Using Javascript to hide "pre" as well as isolate the title
				var title = document.getElementsByTagName('h1');
				var pre = document.getElementsByTagName('pre');
				var image = document.getElementsByTagName('img');

				// Title
				for (var i = 0; i < title.length; i++) {
					console.log(title[i].innerText);
				}
				// Pre Display
				for (var i = 0; i < pre.length; i++) {
					pre[i].style.display = "none"
				}
				// Image display (not working currently)
				for (var i = 0; i < image.length; i++) {
					image[i].style.display = "none"
				}


			</script>


	</div>

	<div class="chatSpace">
		<h3>Discuss the book anytime!</h3>


		<section id="chatroom">
			<section id="feedback"></section>
		</section>


		<section id="input_zone"> 
			<input id="message" class="vertical-align" type="text" />
			<button id="send_message" class="vertical-align" type="button">Send</button>
		</section>

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="public/js/chat.js"></script>
	</div>

</div>


</body>
</html>