<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<script type="text/javascript" src="content/titlescript.js"></script>
</head>
<body>
	<div class="container">
		
		<!-- Check if book is selected yet -->
		<% if (user === null){ %>
		<h1>Welcome to Book Club!</h1>
		<h2><a href="/login">Sign in here</a> to view your books</h2>
		<p>New user? <a href="/signup">Join a book club!</a></p>
		<% } else { %>
		<h1>Welcome to your Library!</h1>
		<% if (user.book === null){%>
		<h3>Here's what our users are reading this month.</h3>
		<a href="/book">go to default book for testing (user.book will still be null)</a>
		<div class="container">

			<div class = "shelves">
				<img src="content/Frankenstein.jpg" height="300px">
				<img src="content/Pride_and_Prejudice.jpg" height="300px">
				<img src="content/Tom_Sawyer.jpg" height="300px">

			</div>

			<div class="shelves" align="center">
				<form action="/home" method="post">
					<input name="bookChoice" type="radio" value="Frankenstein.html">
					<input name="bookChoice" type="radio" value="Pride_and_Prejudice.html">
					<input name="bookChoice" type="radio" value="Tom_Sawyer.html">
					<input type="submit" name="submit-book" value="Choose a bookclub!">

				</form>
			</div>


		</div>
		<% } else { %>
		<a href="/book">Go to your bookclub</a>
		<p>Your current bookclub is <%= user.book %></p>
		<a href="/signout">signout</a>
		<% } %>

		<% } %>

	</div>
	
</body>
</html>