<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<script type="text/javascript" src="content/titlescript.js"></script>
</head>
<body>
	<div class="container">
		
		<!-- Check if book is selected yet -->
		<% var user = null %>
		<% if (user === null){ %>
	    <p> No user specified! </p>
	    <% } %>	

		<h1>Welcome to the Library!</h1>

		<h2>Please choose a book club for this month.</h2>

		<div class="container">
			
			<div class = "shelves">
				<ul class = "book"><h3>1</h3></ul>
				<ul class = "book"><h3>2</h3></ul>
				<ul class = "book"><h3>3</h3></ul>
			</div>


		</div>

	</div>
	
</body>
</html>