<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<script type="text/javascript" src="content/titlescript.js"></script>
</head>
<body>
	<div class="container">
		
		<!-- Check if book is selected yet -->
		<% if (user === null){ %>
		<h1>Welcome to Book Club!</h1>
	    <h2><a href="/login">Sign in here</a> to view your books</h2>
	    <p>New user? <a href="/signup">Join a book club!</a></p>
	    <% } else { %>
		<h1>Welcome to your Library!</h1>
			<% if (user.book === null){%>
			<h2>Please choose a book club for this month.</h2>
			<a href="/book">go to default book for testing (user.book will still be null)</a>
			<div class="container">
				
				<div class = "shelves">
					<form action="/" method="post">
						<input type="button" value="1">
						<input type="button" value="2">
						<input type="button" value="3">
					</form>
				</div>

			</div>
			<% } else { %>
				<a href="/book">Go to your book!</a>
				<p>your book is <%= user.book %></p>
			<% } %>

		<% } %>

	</div>
	
</body>
</html>