body {
	font-family: 'Segoe UI', sans-serif;
	margin: auto;
	display: block;
}

.container {
	display: block;
	width: 70%;
	max-width: 1100px;
	margin: 0 auto;
	
	text-align: center;
}

.sign-up {
	color: white;
	background-color: grey;
	margin: 10% auto;
	padding: 40px;
	width: 500px;
}
.sign-up a {
	color: lightblue;
}

.sign-up input {
	margin: 5px;
	border: 0px white;
	border-radius: 30px;
	padding: 8px;

	font-size: 12pt
}
