body {
	font-family: 'Segoe UI', sans-serif;
}

.container {
	display: block;
	width: 70%;
	max-width: 1100px;
	margin: 0 auto;
	
	text-align: center;
}

/* Sign up */
.sign-up {
	color: white;
	background-color: grey;
	margin:75px auto;
	padding: 40px;
	width: 80%;
	max-width: 500px;
}
.sign-up a {
	color: lightblue;
}

.sign-up input {
	margin: 5px;
	border: 0px white;
	border-radius: 30px;
	padding: 8px;

	font-size: 12pt
}

.shelves{

  display: grid;
  align-self: left;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows:auto auto;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: ;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows:auto auto;
}

.bookSpace{
    background-color: grey; 
    margin-left: 100px;

}

.chatSpace{
    background-color: pink;
    align-self: right;
    size: 500px;

}

section#chatroom {
    border: 5px inset #8258FA;
    height: 500px;
    overflow: auto;
}

section#input_zone {
    text-align: center;
    background-color: #BCA9F5;
}


input#username {
    font-family: 'Comfortaa', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 50px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 50px;
    width: 50px;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}




