body {
	font-family: 'Segoe UI', sans-serif;
}

.container {
	display: block;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	
	text-align: center;
}

/* Sign up */
.sign-up {
	color: white;
	background-color: grey;
	margin:75px auto;
	padding: 40px;
	width: 80%;
	max-width: 500px;
}
.sign-up a {
	color: lightblue;
}

.sign-up input {
	margin: 5px;
	border: 0px white;
	border-radius: 30px;
	padding: 8px;

	font-size: 12pt
}

.shelves {
    transition: 0.3;
}
.shelves img {
    width: 20%;
    margin: 5%;
    margin-bottom: 0;
}

.shelves input {
    width: 30%;
}

.shelves input[type=submit]{
    margin-top: 20px;
    border: 0px white;
    border-radius: 30px;
    padding: 15px;
    font-size: 20pt;
}
.shelves input[type=submit]:hover{
    background-color: #f1f1f1;
}


#main{
    width: 100%;
    height: 100%;
}
#main a {
    transition: 0.3s;
}
#main a:hover {
    color: #f1f1f1;
}


/* The side navigation menu */
.sidenav {
    margin-left: 0px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%; /* 100% Full-height */
    width: 10%;
    background-color: #111; /* Black*/
    overflow: auto;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    margin: 0px;
    padding: 0px 0px 20px 32px;
    text-decoration: none;
    font-size: 14pt;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*@media only screen and (max-width: )*/

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

#closebtn, #chatclosebtn {
    text-decoration: none;
    color: #818181;
    font-size: 30pt;
    position: fixed;
    top: 50%;
}
#closebtn {
    left: 10%;
}

#chatclosebtn {
    right: 16%;
}

.sidenav .openbtn {
    display: none;
}


/* Chapter Nav */
a{
    color: red;
}
a:hover {
    color: black;
}
.bookSpace{
    margin: 0px;
    margin-left: 12%;
    width: 70%;
    text-align: center;
}

.bookSpace h3:hover {
    color: red;
    font-weight: bold;
}

.chatSpace{
    transition: 0.3s;

    background-color: pink;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 16%;
    height: 100%;
}

section#chatroom {
    border: 5px inset #8258FA;
    height: 60%;
    overflow: auto;
}

section#input_zone {
    text-align: center;
    background-color: #BCA9F5;
    cursor: pointer;
}


input#username {
    font-family: 'Comfortaa', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 50px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 50px;
    width: 50px;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}



